html {
  font-family: sans-serif;
}

/* Your CSS below here */
p {
    /* want 18 px from 16 px default, so 16*x = 18; x = 18/16 = 1.125 */
    background-color: blue;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.2) 30%);
    border: 1px solid darkblue;
    border-radius: 8px;
    box-shadow: 4px 4px 4px black,
                inset 2px 2px 2px rgba(255,255,255,0.5),
                inset -2px -2px 2px rgba(0,0,0,0.5);
    color: blue;
    text-shadow: 1px 0 0 black, 0 -1px 0 black, -1px 0 0 black, 0 1px 0 black;
    font-size: 1.125rem;
    height: 2rem;
    line-height: 2;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}
